body {
    background-image: url(4k1.jpg);
    background-size: 100% 700px;
    height: 1200;
    width: 1200;
}
.text{
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img{
display: flex;
justify-content: left;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15rem;
    height: 0%;
}
.heading{
    width: 30rem;
    color: white;
}
.container{
background: #6cabcf75;
padding: 5rem;  
}
.Employees{
    display: flex ;
    justify-content: space-around;
    font-size: larger;
    color: white;
    gap:20rem;
}
.epm{
    display: flex;
    justify-content: space-around;

}